a{
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,sans-serif;
    font-size: medium;
    font-style: italic;
   margin-left: 50px;
   text-align: justify;
}
*{
    background-color: #CCFFFF;
}
